body {
    background-image: url('../images/Clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.hiddenContent {
    display: none;
}

.red-text {
    color: red;
}
